<!DOCTYPE html>
<html>
    <head>
<title>agri sales management</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles.css">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navigation fixed-top navbar-light ">
  <a class="navbar-brand"  href="/"style="font-family: 'Goldman', cursive;font-size:2.1rem;">AGRI SALES MANAGEMENT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
       <div class="navigation-list">
        <li class="nav-item"><a class="nav-link" href="/myitems">myitems</a></li>
        <li class="nav-item"><a class="nav-link" href="/auth/pages/sell">sell</a></li>
        <li class="nav-item"><a class="nav-link" href="/myorders">Your Orders</a></li>  
        <li class="nav-item"><a class="nav-link" href="/wishlist">WISHLIST</a></li>
        <li class="nav-item"><a class="nav-link" href="/cart">CART ITEMS</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
        

       </div>
    </ul>
  </div>
</nav>